$main-bg-color: #919890;

a {
    text-decoration: none;
}

// a:hover {
//     text-decoration: underline;
// }

.app-wrapper {
    width: 1024px;
    height: 768px;
    background: $main-bg-color;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
}