$max-width: 1152px;
$margin: 75px;
$design-color: #f08080;
$dev-color: #038194;
$music-color: #93a693;
$primary-color: #114B5F;
$gray: #6f6f6f;
$base: 15px;
$sm: $base * 4; // 60px
$med: $sm * 2; // 120px
$lg: $med * 2; // 240px
$navbar-height: 90px;

a {
    text-decoration: none;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 18px;
}

.floater {
    padding-bottom: $sm * 3;
    // padding: ($sm * 3) 0;
}

.spacer {
    height: $lg;
}

%quick-ease {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}